# needed for duke function to make connecting easier
export GRAMES_USER=
export GRAMES_PASS=
# needed for polymtl vpn
export OPENCONNECT_USER=
export OPENCONNECT_PASS=
export OPENCONNECT_GROUP=
export OPENCONNECT_URL=
# needed for distriploy
export OSF_USERNAME=
export OSF_PASS=
export GITHUB_TOKEN=