[Desktop Entry]
Type=Application
Version=1.0
Name=beeper
Comment=beeperstartup script
Exec=/tmp/.mount_beeperz5hGiw/beeper --hidden
StartupNotify=false
Terminal=false