# This Desktop launcher file is courtesy of:
#   https://kevin-keraudren.blogspot.com/2013/12/thumbnails-default-viewer-and-property.html
# To make FSLeyes the default viewer for NIFTI files:
#   - Modify /usr/share/applications/defaults.list
#   - Add the line:
#        image/nii=fsleyes.desktop
[Desktop Entry]
Encoding=UTF-8
GenericName=FSLeyes
Name=FSLeyes
Exec=fsleyes %F
TryExec=fsleyes
Type=Application
Terminal=false
Categories=Education;Graphics;Science;DataVisualization;MedicalSoftware;Viewer;
Icon=/home/joshua/.local/share/icons/fsleyes_icon.ico
